*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}



/*header*/
header{
    height: 100px;
    background-color: white;
}

#logo-box{
    padding: 25px 10px 25px 25px;
    display: inline-block;
    height: 100px;
}

#site-title{
    font-size: 48px;
    font-weight: 700;
    display: inline-block;
}



/*main*/
main{
    background-color: #F6F8F9;
}

.container{
    width: 80%;
    margin: auto;
    margin: auto;
    padding-top: 50px;
}



/*features bar*/
#features-bar{
    background-color: white;
    padding: 20px 5%;
    border-radius: 8px;
    margin-bottom: 2px;
}

.button{
    padding: 6px;
    border-radius: 8px;
    transform: none;
    box-shadow: none;
    display: inline-block;
    margin-right: 4pxX;
}

.selected-button{
    background-color: #47ADF1;
    color: white;
}

.unselected-button{
    background-color: white;
    color: gray;
    border:1px solid lightgray;
}



/*task box*/
#task-box{
    background-color: white;
    padding: 3% 5%;
    border-radius: 8px;
    margin-bottom: 2px;
}

.task-section{
    margin-bottom: 50px;
}

h2{
    font-size: 32px;
    margin-bottom: 10px;
}

h2:before{
    content: "\25bc";
    font-size: 18px;
}

.item-row{
    margin-bottom: 28px;
}

.list-object{
    display: inline-block;
}



/* checkmark e cross */
.checkmark:before{
    content: "\2713";
    font-size: 18px;
    color: #8ED2C1;
    border: 2px solid #8ED2C1;
    border-radius: 50%;
    background-color: white;
    padding: 1px 6px;
    margin-right: 8px;
}

.cross:before{
    content: "\00D7";
    font-size: 20px;
    color: #EB5952;
    border: 2px solid #EB5952;
    border-radius: 50%;
    background-color: white;
    padding: 0px 7px;
    margin-right: 8px;
}

.item{
    font-size: 22px;
    font-weight: 500;
    margin-right: 8px;
}



/*tag degli elementi, potevo sistemarli sicuramente meglio,
  magari facendo una base per il tag e poi da parte i colori 
  o comunque le cose che variavano da tag a tag*/
.editorial:after{
    content: 'Editorial';
    font-size: 12px;
    color: white;
    background-color: #45ABE9;
    padding: 10px 15px;
    border-radius: 20px;
}

.q1-goals:after{
    content: 'Q1 Goals';
    font-size: 12px;
    color: white;
    background-color: #9C72E4;
    padding: 10px 15px;
    border-radius: 20px;
}

.recruiting:after{
    content: 'Recruiting';
    font-size: 12px;
    color: white;
    background-color: #64C0A8;
    padding: 10px 15px;
    border-radius: 20px;
}

.mobile:after{
    content: 'Mobile';
    font-size: 12px;
    color: white;
    background-color: #F29E33;
    padding: 10px 15px;
    border-radius: 20px;
}

.website:after{
    content: 'Website';
    font-size: 12px;
    color: white;
    background-color: #D863A0;
    padding: 10px 15px;
    border-radius: 20px;
}

.sales:after{
    content: 'Sales';
    font-size: 12px;
    color: white;
    background-color: #B0C926;
    padding: 10px 15px;
    border-radius: 20px;
}